<section>
  <h3>Métriques</h3>
  <div class="les-métriques">
    <span class="métrique nombre-de-déploiements">
      Nombre de déploiements
      <br />
      {{ métriques.nombreDeDéploiements }}
    </span>
    <span class="métrique fréquence-déploiement">
      Fréquence de déploiement
      <br />
       ?
    </span>
    <span class="métrique mean-time-to-restore">
      Temps moyen pour réparer
      <br />
       ?
    </span>
    <span class="métrique change-failure-rate">
      Taux de déploiements défectueux
      <br />
       ?
    </span>
  </div>
</section>
