:root {
  --gris-clair: #f2f2f2;
  --gris-foncé: #ddd;
  --bleu: #046aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid var(--gris-foncé);
  padding: 8px;
}

table tr:nth-child(even){
  background-color: var(--gris-clair);
}

table tr:hover {
  background-color: var(--gris-foncé);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--bleu);
  color: white;
}
