:root {
  --gris-clair: #f2f2f2;
  --gris-foncé: #ddd;
  --bleu: #046aaa;
  --bleu-nombre-de-déploiements: #8691aa;
  --bleu-fréquence-de-déploiement: #0e2356;
  --bleu-temps-moyen-pour-réparer: #b6e8f0;
  --bleu-taux-de-déploiement-défectueux: #00afcb;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid var(--gris-foncé);
  padding: 8px;
}

table tr:nth-child(even){
  background-color: var(--gris-clair);
}

table tr:hover {
  background-color: var(--gris-foncé);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--bleu);
  color: white;
}

.les-métriques {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.métrique {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  justify-self: center;
  text-align: center;
  color: white;
}

.nombre-de-déploiements {
  background-color: var(--bleu-nombre-de-déploiements);
}
.fréquence-déploiement {
  background-color: var(--bleu-fréquence-de-déploiement);
}
.mean-time-to-restore {
  background-color: var(--bleu-temps-moyen-pour-réparer);
}
.change-failure-rate {
  background-color: var(--bleu-taux-de-déploiement-défectueux);
}
